  <h3><strong>NgClass</strong></h3>
  <div class="container" style="text-align:left">
    <p>Add or remove several CSS classes simultaneously with ngClass.</p>
    <pre><code [highlight]="ngClassCodeHtml"></code></pre>
    <div class="alert alert-info" role="alert">
      To add or remove a single class, use <strong>class binding</strong> rather than
      <strong>NgClass</strong>.
    </div>
    <p>
      Consider a <code>setCurrentClasses()</code> component method that sets a component property,
      <code>currentClasses</code>, with an object that adds or removes three classes based on the
      <code>true</code>/<code>false</code> state of three other component properties. Each key of
      the object is a CSS class name; its value is <code>true</code> if the class should be added,
      <code>false</code> if it should be removed.
    </p>
    <pre><code [highlight] = "ngClassCodeTs"></code></pre>
    <p>
      Adding an ngClass property binding to currentClasses sets the element's classes accordingly:
    </p>
    <pre><code [highlight]="ngClassCodeHtml2"></code></pre>
    <div class="alert alert-info" role="alert">
      Remember that in this situation you'd call <code>setCurrentClasses()</code>, both initially
      and when the dependent properties change..
    </div>
  </div>
