<div class="container-fluid" style="text-align:left">
  <div class="row">
    <div class="col">
      <h1 [style.color]="'red'">
        <strong>{{ bindingType }}</strong>
      </h1>
    </div>
    <div class="col">
      <button class="btn btn-info" (click)="showHtml()" style="float: right; margin-left: 2px;" data-toggle="modal"
        data-target="#classModal">
        Show HTML
      </button>
      <button class="btn btn-info" (click)="showClass()" style="float: right;" data-toggle="modal"
        data-target="#classModal">
        Show class
      </button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          <h3><strong>Example</strong></h3>
        </th>
        <th scope="col">
          <h3><strong>Syntax</strong></h3>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">
          <h4 class="text-success">This is sample text - no databinding</h4>
        </td>
        <td>
          <h5><code>class="text-success"</code></h5>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <h4 [class]="successClass">This is class binding</h4>
        </td>
        <td>
          <h5>
            <code>[class]="successClass"</code> => 'successClass' value willbe passed to 'class'
            => <code>public successClass = 'text-success';</code>
          </h5>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <h4 class="text-special" [class]="successClass">
            'class binding' overwites class="text-special"
          </h4>
        </td>
        <td>
          <h5><code>class="text-special"</code><strong><code> [class]="successClass"</code></strong></h5>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <h4 [class.text-danger]="hasError">'class binding' dependent on condition</h4>
        </td>
        <td>
          <h5><code>[class.text-danger]="hasError"</code></h5>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <h4 [ngClass]="messageClass">Example of 'ngClass' directive</h4>
        </td>
        <td>
          <h5>
            <code>[ngClass]="messageClass"</code>
            <p><strong>Note: <code>[class]="messageClass" will not work!</code></strong><br />
              <span>Thanks to 'ngClass' multiple classes can be assigned via variable (e.g. 'messageClass')</span></p>
          </h5>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<app-modal></app-modal>
