<div class="container-fluid" style="text-align:left" data-spy="scroll" data-target="#navbar11" data-offset="0">
  <div class="row">
    <div class="col">
      <h1 [style.color]="'red'">
        <strong>{{ bindingType }}</strong>
      </h1>
    </div>
  </div>
  <br />
  <div class="alert alert-secondary" role="alert">
    <p>An Angular custom (attribute) directive can be simply described as a component without a template.</p>
    <p>Custom directives are generally special case of attribute directive. They are used when no additional
      <strong>template</strong> is needed. The directive can execute logic and apply visual changes to the element it is
      applied to. This is useful if you want to alter the behavior or style of existing HTML-elements, without wrapping
      them into a new component.
    </p>
  </div>
  <h5>Template:</h5>
  <p>Creating a custom directive is easy. Just create a new class and decorate it with the @Directive decorator:
    <br><code>ng generate directive example</code><br> <i>*make sure that the directive is declared in the
      app-module.</i></p>
  <pre><code [highlight]="customCode1"></code></pre>
  <h5>Using the directive selector:</h5>
  <p>Every directive has a selector, which is used to apply the directive to elements in your templates. <br>
    The directive can be applied to HTML-elements in your templates using its selector.</p>
  <pre><code [highlight]="customCode2"></code></pre>
</div>
