<div class="container-fluid" style="text-align:left">
  <div class="row">
    <div class="col-">
      <h1>
        <font color="red"
          ><strong>{{ bindingType }}</strong></font
        >
      </h1>
    </div>
  </div>
  <div>
    <ul class="">
      <li class="">
        <a href="https://angular.io/api/common/AsyncPipe"><span class=""></span> AsyncPipe </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/CurrencyPipe"
          ><span class=""></span> CurrencyPipe
        </a>
      </li>
      <li class="">
        <a href="https://angular.io/i/common/DatePipe"><span class=""></span> DatePipe </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/DecimalPipe"><span class=""></span> DecimalPipe </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/I18nPluralPipe"
          ><span class=""></span> I18nPluralPipe
        </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/I18nSelectPipe"
          ><span class=""></span> I18nSelectPipe
        </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/JsonPipe"><span class=""></span> JsonPipe </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/KeyValuePipe"
          ><span class=""></span> KeyValuePipe
        </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/LowerCasePipe"
          ><span class=""></span> LowerCasePipe
        </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/PercentPipe"><span class=""></span> PercentPipe </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/SlicePipe"><span class=""></span> SlicePipe </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/TitleCasePipe"
          ><span class=""></span> TitleCasePipe
        </a>
      </li>
      <li class="">
        <a href="https://angular.io/api/common/UpperCasePipe"
          ><span class=""></span> UpperCasePipe
        </a>
      </li>
    </ul>
  </div>
</div>
