<div style="margin-bottom: 10px;">
  <h3 style="display: inline;"><strong>NgModel</strong></h3>
  <span> (example available <a href="binding/twowaybinding" class="code-anchor">here</a>)</span>
</div>
<div class="container" style="text-align:left">
  <p>
    The <code><a href="api/forms/NgModel" class="code-anchor">NgModel</a></code> directive allows
    you to display a data property and update that property when the user makes changes. Here's an
    example:
  </p>
  <pre><code [highlight] = "ngModelCodeHtml"></code></pre>
  <h5 id="import-formsmodule-to-use-ngmodel">
    Import <code><a href="api/forms/FormsModule" class="code-anchor">FormsModule</a></code> to use
    <code><a href="api/forms/NgModel" class="code-anchor">ngModel</a></code>
  </h5>
  <p>
    Before using the
    <code><a href="api/forms/NgModel" class="code-anchor">ngModel</a></code> directive in a
    two-way data binding, you must import the
    <code><a href="api/forms/FormsModule" class="code-anchor">FormsModule</a></code> and add it to
    the NgModule's <code>imports</code> list. Learn more about the
    <code><a href="api/forms/FormsModule" class="code-anchor">FormsModule</a></code> and
    <code><a href="api/forms/NgModel" class="code-anchor">ngModel</a></code> in
    <a href="guide/forms#ngModel">Forms</a>.
  </p>
  <p>
    Remember to import the
    <code><a href="api/forms/FormsModule" class="code-anchor">FormsModule</a></code> to make
    <code>[(<a href="api/forms/NgModel" class="code-anchor">ngModel</a>)]</code> available as
    follows:
  </p>
  <pre><code [highlight] = "ngModelCodeImport"></code></pre>
</div>
