<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Binding
  </h1>
</div>
<app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding>
<app-event-binding></app-event-binding>
<app-twoway-binding></app-twoway-binding>
<app-ng-if></app-ng-if>
<app-ng-switch></app-ng-switch>
<app-ng-for></app-ng-for>
<app-input-output (fromChildEvent)="message=$event" [parentData]='name'></app-input-output>
<app-pipes></app-pipes>
<app-employee-list></app-employee-list>
<app-employee-details></app-employee-details>
