<app-navbar></app-navbar>
<div class="container-fluid">
  <hr />
  <div class="row">
    <div class="col-2">
      <nav class="navbar navbar-light flex-column make-me-sticky" role="tablist">
        <nav class="nav nav-pills flex-column" role="tablist">
          <a
            class="nav-link"
            data-toggle="pill"
            role="tab"
            routerLink="interpolation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <h6>Interpolation</h6>
          </a>
          <a
            class="nav-link"
            data-toggle="pill"
            role="tab"
            routerLink="propertybinding"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <h6>Property Binding</h6>
          </a>
          <a
            class="nav-link"
            data-toggle="pill"
            role="tab"
            routerLink="classbinding"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <h6>Class Binding</h6>
          </a>
          <a
            class="nav-link"
            data-toggle="pill"
            role="tab"
            routerLink="stylebinding"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <h6>Style Binding</h6>
          </a>
          <a
            class="nav-link"
            data-toggle="pill"
            role="tab"
            routerLink="twowaybinding"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <h6>Two-way Binding</h6>
          </a>
          <a
            class="nav-link"
            data-toggle="pill"
            role="tab"
            routerLink="eventbinding"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <h6>Event Binding</h6>
          </a>
          <a
            class="nav-link"
            data-toggle="pill"
            role="tab"
            routerLink="inputoutput"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <h6>@Input/@Output</h6>
          </a>
          <a
            class="nav-link"
            data-toggle="pill"
            role="tab"
            routerLink="viewchild"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <h6>@ViewChild</h6>
          </a>
        </nav>
      </nav>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
