<app-navbar></app-navbar>
<div class="container-fluid">
  <hr />
  <div class="row">
    <div class="col-3">
      <nav class="navbar navbar-light flex-column make-me-sticky">
        <nav class="nav nav-pills flex-column" role="tablist">
          <a
            class="nav-link"
            data-toggle="pill"
            role="tab"
            routerLink="customobservable"
            routerLinkActive="active"
          >
            <h5 (click)="setName('main')">
              Custom Observables
            </h5>
          </a>
          <nav class="nav nav-pills flex-column">
            <a
              class="nav-link ml-3 my-1"
              (click)="setName('ngmodel')"
              routerLink="customobservable/nonrxjsobservable"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >non RxJS</a
            >
            <a
              class="nav-link ml-3 my-1"
              (click)="setName('ngclass')"
              routerLink="customobservable/rxjsobservable"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >RxJS</a
            >
          </nav>
          <a class="nav-link" data-toggle="pill" role="tab" routerLink="promise" routerLinkActive="active">
            <h5 (click)="setName('main')">
              Promise
            </h5>
          </a>
          <a
            class="nav-link"
            data-toggle="pill"
            role="tab"
            routerLink="subject"
            routerLinkActive="active"
          >
            <h5 (click)="setName('main')">
              Subject
            </h5>
          </a>
        </nav>
      </nav>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
