<div class="container-fluid" style="text-align:left">
  <div class="row">
    <div class="col">
      <h1 [style.color]="'red'">
        <strong>{{ bindingType }}</strong>
      </h1>
    </div>
    <div class="col">
      <button
        class="btn btn-info"
        (click)="showHtml()"
        style="float: right; margin-left: 2px;"
        data-toggle="modal"
        data-target="#classModal"
      >
        Show HTML
      </button>
      <button
        class="btn btn-info"
        (click)="showClass()"
        style="float: right;"
        data-toggle="modal"
        data-target="#classModal"
      >
        Show class
      </button>
    </div>
  </div>
  <table class="table table-striped container-fluid">
    <thead>
      <tr class="row">
        <th class="col-3" scope="row">
          <h3><strong>Example</strong></h3>
        </th>
        <th class="col-4" scope="row">
          <h3><strong>Message</strong></h3>
        </th>
        <th class="col-5" scope="row">
          <h3><strong>Syntax</strong></h3>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="row">
        <td class="col-3" scope="row">
          <button type="button" class="btn btn-outline-secondary" (click)="runMethod()">
            Click me
          </button>
        </td>
        <td class="col-4" scope="row">
          <div [hidden]="dispMessage" style="text-align:left">
            <h5><strong>Show me with a click</strong></h5>
          </div>
        </td>
        <td class="col-5" scope="row">
          <h5><code>(click) = "runMethod()"</code> => <br /><code>[hidden] = "dispMessage"</code></h5>
        </td>
      </tr>
      <tr class="row">
        <td class="col-3 align-middle" scope="row">
          <div class="input-group">
            <div class="input-group-prepend">
              <button
                class="btn btn-outline-secondary"
                type="button"
                data-toggle="tooltip"
                data-placement="top"
                title="Show 'event type' & input filed value => (click) = passValue($event, inputField)"
                (click)="passValue($event, inputField)"
              >
                Click me
              </button>
            </div>
            <input
              #inputField
              value="tratata"
              type="text"
              class="form-control"
              data-toggle="tooltip"
              data-placement="top"
              title="#inputField value='tratata'"
            />
          </div>
        </td>
        <td class="col-4" scope="row">
          <h5>Input field value => {{ inputValue }}</h5>
          <h5>event type => {{ eventType }}</h5>
        </td>
        <td class="col-5" scope="row">
          <h5>
            <code>(click)="passValue($event, inputField)"</code>
          </h5>
        </td>
      </tr>
      <tr class="row">
        <td class="col-3" scope="row">
          <button
            class="btn btn-outline-secondary"
            type="button"
            data-toggle="tooltip"
            data-placement="top"
            title="Example of 'templateStatement' => (click) = &quot;templateStatement='Halo Halo'&quot; "
            (click)="templateStatement = 'Halo Halo'"
          >
            Click me
          </button>
        </td>
        <td class="col-4" scope="row">
          <h5>templateStatement => {{ templateStatement }}</h5>
        </td>
        <td class="col-5" scope="row">
          <h5><code>(click) = &quot;templateStatement='Halo Halo'&quot;</code></h5>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <app-modal></app-modal>

