<div class="container-fluid" style="text-align:left">
  <div class="row">
    <div class="col">
      <h1>
        <font color="red"><strong>{{ bindingType }}</strong></font>
      </h1>
    </div>
    <div class="col">
      <button
        class="btn btn-info"
        (click)="showHtml()"
        style="float: right; margin-left: 2px;"
        data-toggle="modal"
        data-target="#classModal"
      >
        Show HTML
      </button>
      <button
        class="btn btn-info"
        (click)="showClass()"
        style="float: right;"
        data-toggle="modal"
        data-target="#classModal"
      >
        Show class
      </button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          <h3><strong>Example</strong></h3>
        </th>
        <th scope="col">
          <h3><strong>Syntax</strong></h3>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input [id]="myId" type="text" value="Robert" class="form-control col-6" />
        </td>
        <td>
          <h5>[id]="myId" type='text' value='Robert'</h5>
        </td>
      </tr>
      <tr>
        <td>
          <input id="{{ myId }}" type="text" value="Robert" class="form-control col-6" />
        </td>
        <td>
          <h5>id=" {{ '{{' }} myId {{ '}' }}{{ '}' }} " type='text' value='Robert'</h5>
        </td>
      </tr>
      <tr>
        <td>
          <input
            [disabled]="flag"
            id="{{ myId }}"
            type="text"
            value="Robert"
            class="form-control col-6"
          />
        </td>
        <td>
          <h5>
            [disabled]="flag" id="{{ '{{' }} myId {{ '}' }}{{ '}' }}" type='text' value='Robert'
          </h5>
        </td>
      </tr>
      <tr>
        <td>
          <input
            disabled="{{ flag }}"
            id="{{ myId }}"
            type="text"
            value="Robert"
            class="form-control col-6"
          />
        </td>
        <td>
          <h5>
            disabled="{{ '{{' }} flag {{ '}' }}{{ '}' }}" id="{{ '{{' }} myId {{ '}' }}{{ '}' }}"
            type='text' value='Robert'
          </h5>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<div
  class="modal fade"
  id="classModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <app-modal></app-modal>
</div>
