<div class="container">
  <div class="row">
    <h1 [style.color]="'red'">
      <strong>This is {{ bindingType }}</strong>
    </h1>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-outline-secondary" (click)="runMethod()">
        Click me
      </button>
      <p>
        (click) = "runMethod( this.dispMessage = !this.dispMessage; )"<br />
        [hidden] = "dispMessage"
      </p>
    </div>
    <div class="col" [hidden]="dispMessage" style="text-align:left">
      <h4><strong>Pojawiam się i znikam</strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="margin:auto">
      <div class="input-group">
        <input #inputField value="tratata" type="text" class="form-control" data-toggle="tooltip" data-placement="top"
          title="#inputField value='tratata'" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-placement="top"
            title="Show 'event type' & input filed value => (click) = passValue($event, inputField)"
            (click)="passValue($event, inputField)">
            Click me
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <h5>wartość pola input => {{ inputValue }}</h5>
      <h5>event type => {{ eventType }}</h5>
    </div>
  </div>
  <div class="row" style="margin-top:15px;">
    <div class="col-6" style="margin:auto;">
      <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-placement="top"
        title="Przykład 'template statement' => (click) = &quot;templateStatement='Halo Halo'&quot; "
        (click)="templateStatement = 'Halo Halo'">
        Click me
      </button>
    </div>
    <div class="col">
      <h5>template statement => {{ templateStatement }}</h5>
    </div>
  </div>
  <br />
</div>
